<div class="bio-container container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-8 photo-container">
            <img class="img-fluid" src="/images/helicopterson.png">
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="title">
                <h3>Helicopterson dos Santos</h3>
                <p>Escritor, poeta, sarrador (1870 - 1950)</p>
            </div>

            <div class="background">
                <h4>História</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum est ut ligula tristique dictum. Donec posuere diam quis ex pulvinar, at consectetur elit fringilla. Quisque non risus lacus. Mauris venenatis urna eget cursus lacinia. Ut enim ex, sollicitudin at placerat ut, posuere non dui. Praesent sit amet nibh dignissim enim tempor posuere. Donec ultrices, sem nec volutpat bibendum, ex ex sagittis urna, eget eleifend tortor elit eget lectus. Phasellus hendrerit, sapien in vulputate scelerisque, tellus ex euismod neque, id facilisis leo ipsum et nisi. In scelerisque, purus vel convallis ullamcorper, dui erat faucibus odio, vitae luctus tortor lorem quis massa. Suspendisse vel risus tortor. Suspendisse ipsum erat, condimentum sit amet erat a, vehicula fringilla ex. Quisque lacus elit, pharetra vel augue in, convallis tempor quam.</p>
            </div>

            <div class="highlights">
                <h4>Destaques</h4>
                <ul>
                    <li>Nasceu</li>
                    <li>Voou</li>
                    <li>Voou mais alto</li>
                    <li>Primeiro homem a pisar na lua</li>
                    <li>Sumiu</li>
                </ul>
            </div>

            <div class="quote">
                <h4>Frases</h4>
                <p>&ldquo;Se não for pra voar, eu nem desço pro Play&rdquo;</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="back">
                <a class="btn btn-primary" href="/">Voltar</a>
            </div>
        </div>
    </div>
</div>
